<%= form_for @quote do |f| %>
 
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@quote.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @quote.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="row"> 
  <div class="input-field col s12">
    <%= f.text_field :author, :class => "validate" %>
    <%= f.label :author, :class => 'active' %><br>
  </div>
 </div>
<div class="row">
  <div class="input-field col s12">
    <%= f.text_area :text, :class => "materialize-textarea" %>
    <%= f.label :text, :class => 'active' %><br>
  </div>
</div>
<div class="row">
	<div class="col s1 offset-s10">
		<%= f.submit  raw("Send"), :class => "btn waves-effect waves-light"  %>
	</div>
</div>
 
<% end %>

