<nav>
	<div class="nav-wrapper blue">
		<%= link_to params, "/#", :class => 'brand-logo' %>
		 <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><%= link_to 'Home', root_path %></li>
			<li><%= link_to 'New Quote', new_quote_path %></li>
			<li><%= link_to 'Random Quote', quotes_random_path %></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><%= link_to 'Home', root_path %></li>
			<li><%= link_to 'New Quote', new_quote_path %></li>
			<li><%= link_to 'Random Quote', quotes_random_path %></li>
		</ul>
	</div>
</nav>
