<%= render 'nav', params: "Quote" %>
<div class="row">
	<div class="col s12 m3">
		<div class="card">
		<div class="card-content">
			<span class="card-title"> <%= @quote.author %> </span>
			<p> <%= @quote.text %> </p>
		</div>
		<div class="card-action">
			<%= link_to 'Edit', edit_quote_path(@quote) %>
			<%= link_to 'Delete', quote_path(@quote),
									method: :delete %>
		</div>
		</div>
	</div>
</div>
