.button 
{
	position: fixed;
	z-index: 3;
	bottom: 30px;
	right: 	50px;
}

.content
{
	padding: 20px;
}

.menu
{
	position: relative;
	top: 15px;
	left: 50%;
	width: -moz-fit-content;
	transform: translateX(-50%);
}

.card a
{
	color: rgba(0,0,0,0.87);
}

.tags_zone
{
	margin: 7px;
}

.tags_zone .chip
{
	margin-bottom: 4px;
}
.btn-mt
{
	position: fixed;
	bottom: 	30px;
	right:		50px;

	display: 	inline-block;
	border-radius: 	50%;
	width: 		55.5px;
	height: 	55.5px;
	outline: 	0;


	line-height: 	67px;
	font-size: 		15px;
	text-align: 	center;
	color: 	#eee;
	border: none;

	background-color: 	#F44336;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

	transition: all .6s ease;
	z-index: 5;
}

#sendBtn
{
	display: none;
}

.btn-mt i 
{
	cursor: pointer;
}
.form {
	position: fixed;
	overflow: hidden;
	left: 	50%;
	bottom: 55px;
	
	width: 	0px;
	height: 0px;
	
	transform: 	translateX(-50%);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	background-color: #fff;
	
	text-align: initial;
	transition: all .6s ease;
	z-index: 4;
}

.formContent
{
	position: relative;
	top: 45px;
}

.formContent i
{
	color: #888;
	margin-top: 8px;
}

#close {
	top: 	0px;
	position: absolute;
	
	width: 	100%;
	
	color: 	#444;
	text-align: 	center;
	line-height: 	67px;
}
#close .icon2 {
	transform: rotate(45deg);
	cursor: pointer;
	transition: all .4s ease;
}

.tags {
	padding-left: 20px;
	padding-right: 20px;
}

