tags{
    $tagMargin      : 5px;
    $tagPad         : .3em .5em;
    $tag-text-color : black;
    $tag-bg         : #E5E5E5;
    $tag-bg-hover   : #D39494;
    $showX          : true;

    display:inline-block;
    border:1px solid #DDD;
    padding-right:$tagPad;
    overflow:hidden;
    cursor:text;
	width:100%;

    &:hover{ border-color:#CCC; }

    @keyframes tags--bump{
        30% { box-shadow:0 0 0 4px $tag-bg; }
    }

    tag{
        display:inline-block;
        vertical-align:top;
        margin:$tagMargin 0 $tagMargin $tagMargin;
        padding:$tagPad;
        @if $showX {
                padding-right:nth($tagPad, 2) * 3;
        }
        border-radius:3px;
        color:$tag-text-color;
        background:$tag-bg;
        position:relative;
        cursor:pointer;
        overflow:hidden;
        white-space:nowrap;
        transition:.13s ease-out;
        animation:.3s tags--bump 1 ease-out;

        &:hover{
            // background:nth($tagColor,2);
            //background:none;
            box-shadow: 0 0 0 2px $tag-bg-hover inset;
            transition:50ms;
            @if $showX {
             &::after{ color:darken($tag-bg-hover,30); }
            }
        }

        &.tagify--noAnim{ animation:none; }

        &.tagify--hide{
            pointer-events:none;
            width:0 !important;
            padding-left:0; padding-right:0;
            margin-left:0; margin-right:0;
            opacity:0;
            transform:scale(0);
            transition:.3s;
        }

        &::after{
            content:"\00D7";
            line-height:1.2;
            position:absolute;
            right:nth($tagPad, 2);
            transition:.1s;
        }
    }

    input, textarea{ border:0; display:none; }
    // contenteditable wrapper (for Chome bug: http://stackoverflow.com/q/34354085/104380)
    div{ display:inline-block; min-width:10px; margin:$tagMargin; padding:$tagPad; }
    span{
        display:block; position:relative; white-space:nowrap;
        &.placeholder{ color:#999;
            &::after{ opacity:1; transform:none; }
        }
        &::after{ content:attr(data-placeholder); display:inline-block; opacity:0; width:0; transform:translatex(6px); transition:.15s ease-out; }
        &::before{ content:'\200B'; }
        &:focus{ outline:none; }
    }
}
