tags {
  display: inline-block;
  border: 1px solid #DDD;
  padding-right: 0.3em 0.5em;
  overflow: hidden;
  cursor: text;
}

tags:hover {
  border-color: #CCC;
}

@keyframes tags--bump {
  30% {
    box-shadow: 0 0 0 4px #E5E5E5;
  }

}

tags tag {
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 5px 5px;
  padding: 0.3em 0.5em;
  padding-right: 1.5em;
  border-radius: 3px;
  color: black;
  background: #E5E5E5;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  transition: .13s ease-out;
  animation: .3s tags--bump 1 ease-out;
}

tags tag:hover {
  box-shadow: 0 0 0 2px #D39494 inset;
  transition: 50ms;
}

tags tag:hover::after {
  color: #923c3c;
}

tags tag.tagify--noAnim {
  animation: none;
}

tags tag.tagify--hide {
  pointer-events: none;
  width: 0 !important;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  opacity: 0;
  transform: scale(0);
  transition: .3s;
}

tags tag::after {
  content: "\00D7";
  line-height: 1.2;
  position: absolute;
  right: 0.5em;
  transition: .1s;
}

tags input,
tags textarea {
  border: 0;
  display: none;
}

tags div {
  display: inline-block;
  min-width: 10px;
  margin: 5px;
  padding: 0.3em 0.5em;
}

tags span {
  display: block;
  position: relative;
  white-space: nowrap;
}

tags span.placeholder {
  color: #999;
}

tags span.placeholder::after {
  opacity: 1;
  transform: none;
}

tags span::after {
  content: attr(data-placeholder);
  display: inline-block;
  opacity: 0;
  width: 0;
  transform: translatex(6px);
  transition: .15s ease-out;
}

tags span::before {
  content: '\200B';
}

tags span:focus {
  outline: none;
}